body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(18, 71, 109, 0.359);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.cityform{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 550px;
    height: 100px;
}
#inputcity{
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color:  rgba(240, 241, 247, 0.748);
    margin: 10px;
    width: 300px;
    transition: all ease-in-out 0.3s;
}
#inputcity:hover{
    background-color: rgba(0, 0, 0, 0.255);
    font-size: 1.6em;
}
#inputcity::placeholder{
    color: rgba(0, 0, 0, 0.978);
    font-weight: bold;
    
    
}

#submitbtn[type="submit"]{
    padding: 10px 20px;
    font-size: 1.4em;
    border: none;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(18, 71, 109, 0.726);
    color: rgba(255, 255, 255, 0.862);
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in 0.3s;
}
#submitbtn[type="submit"]:hover{
    background-color: rgb(18, 71, 109);
    color: white;
    font-size: 1.5em;
}
.card{
    background: linear-gradient(180deg,rgba(2, 69, 254, 0.585),rgba(255, 255, 0, 0.667));
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
}
h1{
    font-size: 3.5rem;
    margin-bottom: 25px;
    font-weight: bold;
    margin-top: 0;

}
p{
    font-size: 1.5em;
    margin: 5px 0;
}
.cityname,.tempdisplay{
    font-size: 3.5em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.732);
    margin-bottom: 25px;

}
.humiditydisplay{
    font-weight: bold;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.608);
}
.desdisplay{
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
    color:  rgba(0, 0, 0, 0.732);
}
.emojidisplay{
    font-size: 5rem;
}
.errordisplay{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#title{
    color: rgba(7, 7, 117, 0.74);
    width: 400px;
    height: 50px;
    font-size: 3.5rem;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: fantasy;
    letter-spacing: 2px;
    transition: all ease-in-out 5ms;
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes color{
    from{
        color: rgba(11, 213, 227, 0.923);
        font-size: 3.6rem;

    }
    to{
        color: rgba(7, 7, 117, 0.74);
    }
   
 }


